# .gitignore

# Виртуальное окружение
.venv/
shoplist/.venv/

# Файлы окружения и безопасности
.env
db.sqlite3
local_settings.py

# Папки для файлов, генерируемых Django
__pycache__/
*.pyc

# Папки для статики и медиа в локальной разработке
/staticfiles
/media

# Системные и IDE-файлы
.DS_Store
.vscode/