{% extends 'shoplist/base.html' %}
{% block title %}Список товаров{% endblock %}
{% block content %}
<h1>Список товаров</h1>

<!-- Форма поиска -->
<form method="get" action="{% url 'product_list' %}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="q" placeholder="Поиск товара..." value="{{ query }}">
        <button class="btn btn-outline-secondary" type="submit">Поиск</button>
    </div>
</form>

<!-- Кнопка "Добавить товар" -->
{% if user.is_authenticated and user.role == 'sales_executive' or user.role == 'admin' or user.is_superuser %}
    <a href="{% url 'product_create' %}" class="btn btn-success mb-3">Добавить товар</a>
{% endif %}

<ul>
    {% for product in products %}
        <li>
            <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a> - {{ product.price }} руб.
            <!-- Кнопки "Редактировать" и "Удалить" -->
            {% if user.is_authenticated and user.role == 'sales_executive' or user.role == 'admin' or user.is_superuser %}
                <a href="{% url 'product_edit' product.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
                <a href="{% url 'product_delete' product.pk %}" class="btn btn-sm btn-danger">Удалить</a>
            {% endif %}
        </li>
    {% empty %}
        <li>Товары не найдены.</li>
    {% endfor %}
</ul>
{% endblock %}